
/*This imports Noto Serif Display-serif and Courier Prime from Google fonts API*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color:#142228;
    --secondary-color:#76a877;
    --accent1-color:#881606;
    --accent2-color:#f7a82b;

    --heading-font:'Noto Serif Display',serif;
    --paragraph-font:'Courier Prime',monospace;

    --nav-background-color:#BCD8C1;
    --nav-link-color:#626267 ;
    --nav-hover-link-color:#142228;
    --nav-hover-background-color:#76a877 ;
}
header{
    width: 1500px;;
    height:fit-content;
    background-color: var(--accent1-color);
    padding: 20px;;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p{
    padding: 25px;
}

/* Class Selectors*/

.hero {
    position: relative; /* Ensure the container is relatively positioned */
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  

.hero-h1 {
    position: absolute; /* Position the heading absolutely within its containing element */
    top: 10px; /* Distance from the top of the containing element */
    left: 50%; /* Align the heading horizontally at the center */
    transform: translateX(-50%); /* Move the heading back by half of its own width to center it */
    width: 100%; /* Full width of the containing element */
    text-align: center; /* Center-align the text */
    font-size: 18px; /* Font size of the heading */
    color: white; /* Text color */
    /* Additional styling properties */
    background: rgba(20, 34, 40, 0.5); /* Semi-transparent black background */
    padding: 10px; /* Padding around the heading */
    border: 1px solid white; /* White border */
    box-sizing: border-box; /* Include padding and border in the width */
}

.hero-article {
    position: absolute; /* Position the article absolutely within its containing element */
    top: 50%; /* Align the article vertically at the center */
    left: 50%; /* Align the article horizontally at the center */
    transform: translate(-50%, -50%); /* Move the article back by half of its own width and height to center it */
    /* Additional styling properties */
    background: rgba(20, 34, 40, 0.7); /* Semi-transparent black background */
    color: white; /* Text color */
    padding: 20px; /* Padding around the article */
    border: 2px solid white; /* White border */
    box-sizing: border-box; /* Include padding and border in the width */
}