/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #142228;
    --secondary-color: #76a877;
    --accent1-color: #881606;
    --accent2-color: #EBEBEB;

    --heading-font: 'Noto Serif Display', serif;
    --paragraph-font: 'Courier Prime', monospace;

    --nav-background-color: #BCD8C1;
    --nav-link-color: #626267;
    --nav-hover-link-color: #142228;
    --nav-hover-background-color: #76a877;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Header */
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 2000px;
}

.logo img {
    display: flex;
    align-self: flex-start;
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    font-weight: 700;
    text-decoration: underline;
}

/* Hero Section */
.About_hero, .Contact_hero {
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.About_hero{
	background-image: url("/images/hero.jpg") ;
}

.Contact_hero {
    background-image: url("/images/contact_us_hero.png");
}

.hero-text {
    display: block;
    background-color: #EBEBEB;
    text-align: center;
    position: absolute;
    top: -90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-txt-img {
    display: inline-flex;
    border-image-width: 200px;
}

/* Figure and Gallery */
figure {
    border: 1px solid #EBEBEB;
    padding: 4px;
    margin: auto;
}

figcaption {
    background-color: #fff;
    color: #000;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery figure {
    flex: 1 1 220px;
    margin: 10px;
    text-align: center;
}

.gallery img {
    width: 220px;
    height: 300px;
    object-fit: cover;
}

.gallery img[src="images/calmriver_raft.jpg"] {
    object-position: right center;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
